body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #206eb7;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    margin-right: 30px;
  }
  
  nav .nav-left {
    display: flex;
    align-items: center;
  }
  
  nav .nav-left button {
    color: #ddd;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  nav .nav-right img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1, h2 {
    text-align: center;
    color: #333;
  }
  
  .hidden {
    display: none;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question p {
    font-size: 1.1em;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #review-container {
    margin-top: 20px;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .container {
      width: 95%;
      margin: 20px auto;
      padding: 15px;
    }
    
    nav .nav-left button {
      font-size: 14px;
    }
    
    nav .nav-right img {
      height: 30px;
      width: 30px;
    }
  }
  