body {
    font-family:'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #206eb7;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    margin-right: 30px; /* Reduzi a margem para economizar espaço */
  }
  
  nav .nav-left {
    display: flex;
    align-items: center;
  }
  
  nav .nav-left button {
    color: #ddd;
    background-color: transparent;
    border: none;
    padding: 8px; /* Reduzi o padding para economizar espaço */
    cursor: pointer;
    font-size: 14px; /* Fonte um pouco menor para telas menores */
  }
  
  nav .nav-right img {
    border-radius: 50%;
    height: 36px; /* Reduzi um pouco o tamanho da imagem */
    width: 36px; /* Reduzi um pouco o tamanho da imagem */
  }
  
  .container {
    width: 90%; /* Aumentei um pouco a largura para melhorar a leitura */
    max-width: 600px;
    margin: 30px auto; /* Ajustei a margem para melhor centralização */
    padding: 15px; /* Reduzi o padding para economizar espaço */
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1, h2 {
    text-align: center;
    color: #333;
  }
  
  .hidden {
    display: none;
  }
  
  .question {
    margin-bottom: 15px; /* Reduzi a margem inferior para economizar espaço */
  }
  
  .question p {
    font-size: 1em; /* Ajustei o tamanho da fonte para melhor leitura */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.1em; /* Ajustei o tamanho da fonte para melhor leitura */
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #review-container {
    margin-top: 15px; /* Reduzi a margem superior para economizar espaço */
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .container {
      width: 95%;
      margin: 20px auto;
      padding: 10px;
    }
  
    nav .nav-left button {
      font-size: 12px; /* Reduzi a fonte para telas menores */
    }
  
    nav .nav-right img {
      height: 30px;
      width: 30px;
    }
  }
  