*{
    overflow-x: hidden; /* Evita a rolagem horizontal */

}
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav {
    background-color: #206eb7;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo{
    margin-right: 20px;
}
nav .nav-left {
    display: flex;
    align-items: center;
    
    
}

nav .nav-left button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

nav .nav-right img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;

}

.content {
    display: flex;
    flex-direction: column;
}

#video-container {
    margin-bottom: 20px;
}

#playlist-container {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#playlist-container h2 {
    margin-top: 0;
}

#playlist {
    list-style: none;
    padding: 0;
}

#playlist li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playlist li:hover {
    background-color: #eee;
}

#playlist .status {
    font-size: 1.2em;
    color: rgb(0, 41, 128);
    visibility: hidden;
}

.completed .status {
    visibility: visible;
}

#progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#progress-bar {
    width: 80%;
    height: 20px;
    margin-right: 10px;
}

#progress-percentage {
    font-size: 16px;
}

#next-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para desktop */
@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }

    #video-container {
        flex: 3;
        margin-right: 20px;
        margin-bottom: 0;
    }

    #playlist-container {
        flex: 1;
        margin-bottom: 0;
    }
}
