* {
    overflow-x: hidden; /* Evita a rolagem horizontal */
    font-family: 'Times New Roman', Times, serif;

}
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    display: block;
    text-align:center;
    padding-right: 300px;
    font-size: 30px;
}
h2{
    font-size: 36px;
    color: #353636;
}
nav {
    background-color: #206eb7;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
    margin-right: 20px;
}
nav .nav-left {
    display: flex;
    align-items: center;
}
nav .nav-left button {
    color: #ddd;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
nav .nav-right img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
}
.content {
    display: flex;
    flex-direction: column;
}
#video-container {
    margin-bottom: 20px;
}
#playlist-container {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 400px; /* Defina a altura fixa desejada */
    overflow-y: scroll; /* Adiciona rolagem vertical */
}
#playlist-container  {
    margin-top: 0;
}
#playlist {
    list-style: none;
    padding: 0;
    margin: 0;
}
#playlist li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#playlist li:hover {
    background-color: #eee;
}
#playlist .status {
    font-size: 1.2em;
    color: rgb(0, 41, 128);
    visibility: hidden;
}
.completed .status {
    visibility: visible;
}
#progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#progress-bar {
    width: 100%;
    height: 20px;
    margin-right: 10px;
}
#progress-percentage {
    font-size: 16px;
}
#next-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #59c0f0;
    color: #f4f6f7;
    
}
#next-button:hover{
    background-color: #4f9bcf;  
    box-shadow: #59c0f0;
}
#quiz-container, result-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}
#quiz-container label {
    display: block;
    margin-bottom: 10px;
}
#quiz-container button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}
#quiz-container button:hover {
    background-color: #0056b3;
}

/* Estilos para desktop */
@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }
    #video-container {
        flex: 3;
        margin-right: 20px;
        margin-bottom: 0;
    }
    #playlist-container {
        flex: 1;
        margin-bottom: 0;
    }
}

#result-container {
    display: none;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#result-container p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.5;
}

#video-description{
    font-size: 18px;
    text-align: justify;
}


#generate-certificate {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}

#generate-certificate:hover {
    background-color: #218838;
}

#certificate {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    text-align: center;
}